.form-container__box {
    width: 100%;
    padding: 1.6rem;
    margin-bottom: var(--mb-4);
    border-radius: 0.8rem;
    border: 1.5px solid var(--second-color);
    outline: none;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi);
}
.form-container__submit {
    display: block;
    margin-left: auto;
    outline: none;
    cursor: pointer;
    border: none;
    font-size: var(--normal-font-size);
}