.work {
    text-align: center;
}
.works__container {
    row-gap: 3.2rem;
}
.works__img {
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
    border-radius: 0.8rem;
    overflow: hidden;
}
.works__img img {
    width: 100%;
    transition: 1s;
    cursor: pointer;
}
.works__img img:hover {
    transform: scale(1.1);
}